@font-face {
    font-family: Poppins;
    src: url(assets/fonts/Popppins-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: linear-gradient(139deg, #c13e3e 0%, #e6b332 100%); */
    background-color: #16181e;
    height: 100vh;
}

h1 {
    font-family: sans-serif, Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
}
.addtask{
    display: flex;
    margin: 20px auto;
    height: 40px;
    border-radius: 6px;
    overflow: hidden;
}
#task{
    width: 100%;
    padding: 5px 12px;
    outline: none;
    border-radius: 0;
    border: none;
    color: #fff;
    background-color: #112c44;
}

.add_img{
    background-color: #123654;
    border: none;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.app{
    padding: 10px 20px;
    max-width: 540px;
    margin: auto;
}
.tasklist {
    display: flex;
    flex-direction: column;
}

.tasklist li {
    display: flex;
    /* align-items: center; */
    width: 100%;
    position: relative;
    /* min-height: 30px; */
    margin: 5px auto;
    /* border: 1px solid #f4f4f4; */
    border-radius: 6px;
    overflow: hidden;
}
.tasklist p{
    padding: 10px;
    width: 100%;
    /* min-height: 30px; */
    /* background-color: #f4f4f4; */
    background-color: #1e2131;
    color: #fff;
    font-size: 1rem;
}
li button {
    width: 40px;
    /* height: 30px; */
    border: none;
    background-color: #2a2b2f;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

